html,
body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
 background-color: #f7f7f7;
}


.header{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.zip-holder,
.fellingHolder {
  font-size: 1em;
  padding: 1em 0.5em;
}

.zip-holder label,
.fellingHolder label {
  display: block;
  font-size: 27px;
  width: 80%;
  margin: auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#find{
 
  text-align: center;

}
.zip-holder input,
.fellingHolder textarea {
  display: block;
  color: #7286b6;
  width: 80%;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 0.2em;
  margin: auto;
  margin-top: 0.5em;
}

.butDiv{
  justify-content: center;
  align-items: center;
}
button {
  display: block;
 
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #3a3333;
    text-align: center;

    cursor: pointer;
     border-radius: 5px;
    font-size: 18px;
}


.entry-holder {
  grid-area: entry-holder;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

.card2 {
  background-color: #ffffff4f;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  padding: 1em;
  width: 100%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.entry-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 1em;
}

#entryHolder {
  font-size: 16px;
}

#entryHolder > div {
  margin-bottom: 0.5em;
}


.icons{
  width: 40px;
  height: 40px;
  margin: 3px;
}
@media (max-width: 768px) {
  #app {
    grid-template-areas:
   
      "col-right"
      "col-left";
    grid-template-columns: 1fr;
  }
}
